
.addOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    height: 14vh;
}

.cardCont:hover {
    box-shadow:
        0 2px 8.1px rgba(0, 0, 0, 0.024),
        0 5.6px 22.4px rgba(0, 0, 0, 0.035),
        0 13.6px 54px rgba(0, 0, 0, 0.046),
        0 45px 179px rgba(0, 0, 0, 0.07)
        ;
    cursor: pointer;
}

.cardCont:hover img {
    height: 15vh;
}